
body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	background-color: #37bdf9;
	flex-direction: column;
	align-items: center;
}
div{
	padding: 15px;
}
a{
	text-decoration: none;
	color:#0060df;
}
#work_obl{
	width: 500px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0;
	padding: 0;
}
#work_obl div{
	width: 100%;
	background-color: white;
}
.header{
	display: flex;
	align-items: flex-end;
	border-bottom: 2px solid #37bdf9;
	border-top-right-radius: 45px;
	border-top-left-radius: 45px;
}
#log{
	font-size: 30px;
	color:#0060df;
}
.menu{
	display: flex;
	justify-content: space-around;
}
.menu a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.content{
	/*border-top: 2px solid #37bdf9;*/
	min-height: 400px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.footer{
	border-top: 2px solid #37bdf9;
	border-bottom-right-radius: 45px;
	border-bottom-left-radius: 45px;
	display: flex;
	justify-content: space-around;
	color:#0060df;
}
#form{
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.input_form{
	color:black;
	border-radius: 15px;
	border:none;
	border:2px solid #37bdf9;
	width: 50%;
	height: 30px;
}
#form label{
	margin-bottom: 10px;
	font-size: 20px;
	color:#37bdf9;
}
#form h1{
	color:#0060df;
}
.active{
	border-bottom: 2px solid #37bdf9;
}
.header-user{
	margin-top:-20px;
	display:flex;
	border-bottom: 2px solid #37bdf9;
	width: 100%;
}
#photo_user img{
	width: 200px;
	height: 200px;
	border-radius: 200px;
}
#info_user{
	display: flex;
	justify-content: space-around;
	width: 100%;
	flex-wrap: wrap;
}
#control{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#name_user{
	font-size: 30px;
	align-self: center;
    margin-left: 20px;
    color:#0060df;
}
#info_user a {
	margin-left: 30px;
}

.posts{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.post{
	width: 80%;
	border:2px solid #37bdf9;
	display: block;
	padding: 10px;
}
.post_header{
	display: flex;
	justify-content: flex-start;
	border-bottom: 2px solid #37bdf9;
}
.post_header span {
	margin-bottom:20px;
}
.post_header img {
	width: 75px;
	height: 75px;
	border-radius: 100px;
	border:none;
	border: 2px solid #37bdf9;
}
.post_content img{
	width: 100%;
	height: auto;;
}
.post_content p{
	border-top: 2px solid #37bdf9;
}
.post_footer{
	border-top: 2px solid #37bdf9;
	display: flex;
	justify-content: space-between;
	color:#0060df;
}
.user_name{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 20px;
	font-size: 20px;
	color:#0060df;
}
#new_post{
	margin-left: 20px;
}
.coments{
	display: flex;
	flex-direction: column;
}
.but_sub{
	 background-color: #0060df;
	 border:2px solid #37bdf9;
	 padding:9px;
	 border-radius: 20px;
	 color:white;
}
.pool_coments{
	overflow-y:scroll;
	height: 400px;
}
.form_coments{
	display: flex;
	justify-content: center;
	margin: 10px;
}
.coment{
	display: flex;
	width: 100%;
	justify-content: center;
}
.coment img{
	width: 100px;
	height: 100px;
    margin-top: 30px;
}
.text_coment{
	margin-left: 20px;
	display: flex;
	flex-direction: column;
}
.coment_name{
	font-size: 20px;
	color:#0060df;
}
.h{
	width: 100%;
	color:#0060df;
}
.block_sub{
	border:2px solid #37bdf9;
	width: 95%;
	padding: 5px;
	border-radius: 20px;
	display: flex;
	justify-content: space-around;
	margin-bottom:10px;
}
.block_sub img{
	width: 50px;
	height: 50px;
}
.name_user{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.name_user span{
	color:#0060df;
	font-size: 20px;
}
.but{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.form_search{
	display: flex;
	justify-content: center;
	width:100%;
}
#scroll_y{
	height:370px;
	width:100%;
	overflow-y:scroll;
}
.popup {
	position:fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	top:0;
	left: 0;
	display:none;
}
.popup:target{
	display:block;
}
.popup_body {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup_content {
	display:flex;
	justify-content:center;
	flex-direction:column;
	width:50%;
	background-color:white;
	padding:10px;
	border-radius:15px;
	position:relative;
}
.h {
}
.popup_close {
	position:absolute;
	top:25px;
	right:25px;
}
.popup_form {
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
}
.popup_form input{
	width:50%;
	padding-left:25%;
}
.popup_form textarea{
	width:75%;
	height:100px;
	padding:5px;
}
#error_block{
	position: absolute;
	top:20px;
	right: 20px;
	width: 200px;
	min-height: 100px;
	display: flex;
	justify-content: center;
	padding: 20px;
	border-radius: 20px;

}
#error_block p{
	width:100%;
	padding:20px;
	border-radius:20px;
}
.error{
	background-color:#ff5336;
	color:white;
}
.good{
	background-color:#94bf2e;
	color:white;
}
.danger{
	background-color:yellow;
	color:white;
}